Hands-on lab/lab-files/src/PolicyConnectDesktop/Service References/PolicyManagementServiceReference/PolicyManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contoso.Apps.Insurance.Data.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contoso.Apps.Insurance.Data.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dependents" nillable="true" type="tns:ArrayOfDependent" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfDependent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dependent" nillable="true" type="tns:Dependent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDependent" nillable="true" type="tns:ArrayOfDependent" />
  <xs:complexType name="Dependent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="PolicyHolderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dependent" nillable="true" type="tns:Dependent" />
  <xs:complexType name="ArrayOfPolicyHolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicyHolder" nillable="true" type="tns:PolicyHolder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicyHolder" nillable="true" type="tns:ArrayOfPolicyHolder" />
  <xs:complexType name="PolicyHolder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Deductible" type="xs:decimal" />
      <xs:element minOccurs="0" name="Dependents" nillable="true" type="tns:ArrayOfDependent" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OutOfPocketMax" type="xs:decimal" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Policy" nillable="true" type="tns:Policy" />
      <xs:element minOccurs="0" name="PolicyAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyId" type="xs:int" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyHolder" nillable="true" type="tns:PolicyHolder" />
  <xs:complexType name="Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultDeductible" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultOutOfPocketMax" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy" nillable="true" type="tns:Policy" />
  <xs:complexType name="ArrayOfPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Policy" nillable="true" type="tns:Policy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicy" nillable="true" type="tns:ArrayOfPolicy" />
</xs:schema>